<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <title>{% block title %}{% endblock %}</title>
    {% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <link rel="icon" href="{{ url_for('static', filename='img/logo.png') }}" type="image/x-icon">
    {% endblock %}
  </head>
  <body>
    <section class="main-container">
      {% block content %}{% endblock %} {% block javascript %}{% endblock %}
    </section>
  </body>
</html>