{% extends '/base.html' %}

{% block title %} Listado de Hinchas {% endblock %}

{% block css %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style-listado.css')}}" />
{% endblock %}

{% block content %}
<body>
  <div class="main-container">
    <div class="tabla">
      <table class="default">
        <tr class="titulos">      
          <td><strong>Nombre</strong></td>
          <td><strong>Comuna</strong></td>
          <td><strong>Deportes</strong></td>
          <td><strong>Modo de transporte</strong></td>
          <td><strong>Teléfono</strong></td>           
        </tr> 
        <tr>
          <td>
            <button onclick="location.href='/verinfohincha/1'">Nicole</button>
          </td>     
          <td>Maipú</td>      
          <td>Tenis, Natación</td>
          <td>Particular</td>
          <td>+56 9 8765 4321</td>           
        </tr>
        <tr>
          <td>
            <button onclick="location.href='/verinfohincha/2'">Nicolás</button>
          </td>     
          <td>Cerro Navia</td>      
          <td>Balonmano</td>
          <td>Particular</td>
          <td>+56 9 5500 1122</td>           
        </tr>
        <tr>
          <td>
            <button onclick="location.href='/verinfohincha/3'">Josefina</button>
          </td>   
          <td>Viña del Mar</td>      
          <td>Fútbol, Boxeo</td>
          <td>Locomoción particular</td>
          <td>+56 9 7890 1234</td>           
        </tr>
        <tr>
          <td>
            <button onclick="location.href='/verinfohincha/4'">Juan</button>
          </td>   
          <td>Iquique</td>      
          <td>Fútbol, BMX Racing, Esgrima</td>
          <td>Locomoción particular</td>
          <td>+56 9 6655 7788</td>           
        </tr>
        <tr>
          <td>
            <button onclick="location.href='/verinfohincha/5'">María</button>
          </td>           
          <td>Puerto Montt</td>      
          <td>Salto ecuestre</td>
          <td>Particular</td>
          <td>+56 9 2345 6789</td>           
        </tr>         
      </table>
    </div>
    
    <a class="btnb" href="{{ url_for('index') }}">Volver al menu</a>
  </div> 
</body>
{% endblock %}

{% block javascript %}

{% endblock %}