{% extends '/base.html' %}

{% block title %} Listado de Hinchas {% endblock %}

{% block css %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style-listado.css')}}" />
{% endblock %}

{% block content %}
<h2>Lista de Hinchas</h2>
<div type="table" id="tabla-listado">
  <table>
    <tr>
      <td>Nombre</td>
      <td>Teléfono</td>
      <td>Comuna</td>
      <td>Deportes</td>
      <td>Modo de transporte</td>  
    </tr>

    {% if data %}
      {% for hincha in data%}
        <tr>
          <td>
            <a id="nombre-btn" href="{{ url_for('verinfohincha', nombre = hincha.nombre) }}">{{hincha.nombre}}</a>
          </td>
          <td>{{hincha.numero}}</td>
          <td>{{hincha.comuna}}</td>
          <td>
            <ul>
                <li>{{hincha.deporte1}}</li>
                {% if hincha.deporte2 %}
                  <li>{{hincha.deporte2}}</li>
                {% endif %}
                {% if hincha.deporte3 %}
                  <li>{{hincha.deporte3}}</li>
                {% endif %}
          </ul>
          </td>
          <td>{{hincha.transporte}}</td>
        </tr>
      {% endfor%}
    {% endif %}

  </table>
  <br>
  <form method="get" action="{{ url_for('listado_hinchas', page=page + 1) }}">
    <div class="btnb">
      <button type="submit">Avanzar</button>
    </div>
  </form>

  <br>

  <form method="get" action="{{ url_for('listado_hinchas', page = page - 1) }}">
    <div class="btnb">
      <button type="submit">Retroceder</button>
    </div>
  </form>

  <br>

  <a class="btnb" href="{{ url_for('index') }}">Volver al menu</a>

</div>
{% endblock %}

{% block javascript %}

{% endblock %}