{% extends 'base.html' %}

{% block title %} Informacion Hinchas {% endblock %}

{% block css %}
{{ super() }}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="/static/css/style-visualizacion.css">
{% endblock %}

{% block content %}

<h1>Información Hincha</h1>

<div id="informacion">
    {% if data %}
        {% for hincha in data%}
            <strong>Nombre: </strong><a>{{hincha.nombre}}</a><br>
            <strong>Deportes: </strong>
            <ul>
                <li>{{hincha.deporte1}}</li>
                {% if hincha.deporte2 %}
                  <li>{{hincha.deporte2}}</li>
                {% endif %}
                {% if hincha.deporte3 %}
                  <li>{{hincha.deporte3}}</li>
                {% endif %}
            </ul>
            <br>
            {% if hincha.comentarios %}
                <strong>Comentarios: </strong><a>{{hincha.comentarios}}</a><br>
            {% endif %}
            <strong>Región: </strong><a>{{hincha.region}}</a><br>
            <strong>Comuna: </strong><a>{{hincha.comuna}}</a><br>
            <strong>Modo de transporte: </strong><a>{{hincha.transporte}}</a><br>
            <strong>Email de contacto: </strong><a>{{hincha.email}}</a><br>
            <strong>Teléfono de contacto: </strong><a>{{hincha.numero}}</a><br>
        {% endfor%}
    {% endif %}
</div><br>

<a id="btn-volver" href="{{ url_for('listado_hinchas', page=0) }}">Volver al listado de hinchas</a>


{% endblock %}

{% block javascript %}
<!-- No utiliza javascript -->
{% endblock %}
